@mixin project__thumbs {
  width: 100%;
  order: 2;

  display: flex;
  flex-wrap: wrap;

  .image {
    // remove the border bottom
    line-height: 0;

    @include mobile-and-up {
      max-width: 45%;
    }

    .img {
      @include img;
    }
  }
}
