

// Fonts
//
// Typefaces and fonts used across the site.
// They are never used directly but set up properly with the `text-style` mixin.
//
// Styleguide fonts


// Mostra Nuova
// - The default typeface, sans-serif
// - character set: Full character set, with OpenType Features
// - served from Typekit
// - styles and weights: Thin, Light, Regular, Bold, Heavy, Black, 


// Platelet
// - The logo typeface, sans-serif
// - character set: English, with OpenType Features
// - served from Typekit
// - styles and weights: Thin, Regular, Heavy, 




// The font mixin
@mixin font($variant) {

  @if ($variant == 'mostra-nuova-thin') {
    font-family: 'mostra-nuova', sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  @if ($variant == 'mostra-nuova-light') {
    font-family: 'mostra-nuova', sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  @if ($variant == 'mostra-nuova-regular') {
    font-family: 'mostra-nuova', sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  @if ($variant == 'mostra-nuova-bold') {
    font-family: 'mostra-nuova', sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  @if ($variant == 'mostra-nuova-heavy') {
    font-family: 'mostra-nuova', sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  @if ($variant == 'mostra-nuova-black') {
    font-family: 'mostra-nuova', sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  @if ($variant == 'platelet-thin') {
    font-family: 'platelet', sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  @if ($variant == 'platelet-regular') {
    font-family: 'platelet', sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  @if ($variant == 'platelet-heavy') {
    font-family: 'platelet', sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
}


// Font classes

.mostra-nuova-thin {
  font-family: 'mostra-nuova', sans-serif;
  font-weight: 200;
  font-style: normal;
}

.mostra-nuova-light {
  font-family: 'mostra-nuova', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.mostra-nuova-regular {
  font-family: 'mostra-nuova', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.mostra-nuova-bold {
  font-family: 'mostra-nuova', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.mostra-nuova-heavy {
  font-family: 'mostra-nuova', sans-serif;
  font-weight: 800;
  font-style: normal;
}

.mostra-nuova-black {
  font-family: 'mostra-nuova', sans-serif;
  font-weight: 900;
  font-style: normal;
}

.platelet-thin {
  font-family: 'platelet', sans-serif;
  font-weight: 200;
  font-style: normal;
}

.platelet-regular {
  font-family: 'platelet', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.platelet-heavy {
  font-family: 'platelet', sans-serif;
  font-weight: 700;
  font-style: normal;
}

