// Marquee
//
// A responsive marquee based on [this fiddle](http://jsfiddle.net/jonathansampson/xxuxd/).
// Uses 'text-indent' because 'transform: translateX' is simply doesn't work in this case
//
//
// $size - the width of the marquee window, preferably in 'vw' not in 'em' or 'px'
// $length - the length of the text in chars
// $keyframe - the name of the keyframe animation associated to this marquee
// $debug - to display the hint for keyframes' 'to' value. These 'to' values are '%' and they are a quite liberal estimation
// $scale - the size of the font (em)
// $letter-spacing - the letter spacing (em)
//
// Usage:
// ```
// <div class="marquee">A scrolling text</div>
// .marquee {
//  @include scale(large-8);
//  @include marquee(50vw, 16, marquee-wts16, off, 9.969em);
// }
// ```
//
// Styleguide marquee
@mixin marquee($size, $length, $keyframe, $debug: on, $scale: 1em, $letter-spacing: 0.01em) {
  width: $size;

  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;

  &:hover {
    animation-play-state: paused;
  }

  // - calculating 'to' for the keyframe
  $text_size_em: ($length * ($scale + $letter-spacing));
  $size_to_fullsize_ratio: 100 / $size;


  @include mobile {
    @if ($debug == on ) {
      @debug(mobile 'to': -$text_size_em / 22 * $size_to_fullsize_ratio * 100);
    }
    animation: #{$keyframe}-mobile 15s linear infinite;
  }

  @include tablet {
    @if ($debug == on ) {
      @debug(tablet 'to': -$text_size_em / 48 * $size_to_fullsize_ratio * 100);
    }
    animation: #{$keyframe}-tablet 15s linear infinite;
  }

  @include laptop {
    @if ($debug == on ) {
      @debug(laptop 'to': -$text_size_em / 80 * $size_to_fullsize_ratio * 100);
    }
    animation: #{$keyframe}-laptop 15s linear infinite;
  }

  @include desktop {
    @if ($debug == on ) {
      @debug(desktop 'to': -$text_size_em / 100 * $size_to_fullsize_ratio * 100);
    }
    animation: #{$keyframe}-desktop 20s linear infinite;
  }
}



// - this code must be inserted where the @include marquee(...) is
// - the keyframe name must be set to $keyframe
// - the 'to' value must be set as suggested by the @debug

/*
@include keyframes(marquee-demo-mobile) {
  from  {
    text-indent: 100%;
  }

  to {
    text-indent: -1875%;
  }
}

@include keyframes(marquee-demo-tablet) {
  from  {
    text-indent: 100%;
  }

  to {
    text-indent: -850%;
  }
}

@include keyframes(marquee-demo-laptop) {
  from  {
    text-indent: 100%;
  }

  to {
    text-indent: -515%;
  }
}

@include keyframes(marquee-demo-desktop) {
  from  {
    text-indent: 120%;
  }

  to {
    text-indent: -415%;
  }
}

*/
