@mixin x-arrow-with-saquo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  @include mobile {
    flex-wrap: wrap;
  }

  .arrow-with-saquo {
    @include arrow-with-saquo;
    margin: $lem;
  }
}
