@mixin project__meta {
  order: 4;
  width: 100%;

  .ul {
    @include ul;
    @include ul--underlined;
    @include list;
  }

  @include portrait {
    padding: $lem 0;
  }

  @include landscape {
    margin-left: $lem;
  }
}
