@mixin list-nested__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f1f1f1;

  .checkbox {
    @include checkbox($lem);
    margin: $lem / 2;
  }

  .item-title {
    margin: $lem / 2;
    text-align: center;
  }
}
