@mixin list-nested {
  @include ul;

  @include mobile {
    @include grid(1, $lem, 1px);
  }

  @include tablet {
    @include grid(2, $lem, $lem);
  }

  @include laptop {
    @include grid(2, $lem, $lem);
  }

  @include desktop {
    @include grid(3, $lem, $lem);
  }


  .title {
    @include text-style(name);
    display: flex;
    margin-bottom: $lem;
  }

  &__item {
    @include list-nested__item;
  }

  &__sublist {
    @include border(normal, all);
    padding: $lem;

    &--images {
      flex-grow: 2;
    }
  }

  &--level-2 {
    @include grid(1, $lem, $lem);
  }
}
