@mixin project__title-as-spacer {
  width: 100%;
  order: 1;

  //@include title;
  //@include title--big;

  position: absolute;
  top: 0;
  overflow: hidden;

  .spacer {
    @include spacer;
  }
}
