@mixin project {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  position: relative;

  @include portrait {
    margin-bottom: $lem;
  }

  &__title {
    @include project__title;
  }

  &__title-as-spacer {
    @include project__title-as-spacer;
  }

  &__thumbs {
    @include project__thumbs;
  }

  &__description {
    @include project__description;
  }

  &__meta {
    @include project__meta;
  }

  &--yona-friedman-the-dilution-of-architecture {
    @include project--yona-friedman-the-dilution-of-architecture;
  }

  &--do-not-trust-the-mirror {
    @include project--do-not-trust-the-mirror;
  }

  &--bernar-venet-metametria {
    @include project--bernar-venet-metametria;
  }
}
