// Canvas wave effect
//
// - from https://codepen.io/MathiasPaumgarten/pen/CbEjG?page=5
//
//
@mixin wave($width: 100%, $height: 100%) {
  width: $width;
  height: $height;

  &__canvas {
    width: 100%;
    height: 100%;
  }
}
