@mixin project__description {
  order: 3;

  .text {
    @include text-style(body-text);

    .p-more {
      @include p-more;
      @include p-more--closed;
    }
  }

  @include landscape {
    margin: $lem;
    padding: $lem;
  }
}
