@mixin project__description {
  order: 3;
  margin: $lem;
  padding: $lem;

  .text {
    @include text-style(body-text);

    .p-more {
      @include p-more;
      @include p-more--closed;
    }
  }
}
