@mixin project__description {
  order: 3;

  @include mobile {
    padding: $lem 0;
  }

  @include mobile-and-up {
    margin: $lem;
    padding: $lem;
  }

  .text {
    @include text-style(body-text);

    .p-more {
      @include p-more;
      @include p-more--closed;
    }
  }
}
